:root {
  /* Control Spacing Size */
  --padding-control-sm-y: 8px;
  --padding-control-sm-x: 12px;

  /* Control Spacing Size */
  --padding-control-md-y: 10px;
  --padding-control-md-x: 14px;

  /* lg */
  --padding-control-lg-y: 14px;
  --padding-control-lg-x: 16px;
}
