:root {
  /* ===== Light Mode (Default) ===== */

  /* Grey */
  --color-grey-50: #f9fafb;
  --color-grey-100: #f2f4f6;
  --color-grey-200: #e5e8eb;
  --color-grey-300: #d1d6db;
  --color-grey-400: #b0b8c1;
  --color-grey-500: #8b95a1;
  --color-grey-600: #6b7684;
  --color-grey-700: #4e5968;
  --color-grey-800: #333d4b;
  --color-grey-900: #191f28;

  /* Blue */
  --color-blue-50: #e8f3ff;
  --color-blue-100: #c9e2ff;
  --color-blue-200: #90c2ff;
  --color-blue-300: #64a8ff;
  --color-blue-400: #4593fc;
  --color-blue-500: #3182f6;
  --color-blue-600: #2272eb;
  --color-blue-700: #1b64da;
  --color-blue-800: #1957c2;
  --color-blue-900: #194aa6;

  /* Red */
  --color-red-50: #ffeeee;
  --color-red-100: #ffd4d6;
  --color-red-200: #feafb4;
  --color-red-300: #fb8890;
  --color-red-400: #f66570;
  --color-red-500: #f04452;
  --color-red-600: #e42939;
  --color-red-700: #d22030;
  --color-red-800: #bc1b2a;
  --color-red-900: #a51926;

  /* Orange */
  --color-orange-50: #fff3e0;
  --color-orange-100: #ffe0b0;
  --color-orange-200: #ffcd80;
  --color-orange-300: #ffbd51;
  --color-orange-400: #ffa927;
  --color-orange-500: #fe9800;
  --color-orange-600: #fb8800;
  --color-orange-700: #f57800;
  --color-orange-800: #ed6700;
  --color-orange-900: #e45600;

  /* Yellow */
  --color-yellow-50: #fff9e7;
  --color-yellow-100: #ffefbf;
  --color-yellow-200: #ffe69b;
  --color-yellow-300: #ffdd78;
  --color-yellow-400: #ffd158;
  --color-yellow-500: #ffc342;
  --color-yellow-600: #ffb331;
  --color-yellow-700: #faa131;
  --color-yellow-800: #ee8f11;
  --color-yellow-900: #dd7d02;

  /* Green */
  --color-green-50: #f0faf6;
  --color-green-100: #aeefd5;
  --color-green-200: #76e4b8;
  --color-green-300: #3fd599;
  --color-green-400: #15c47e;
  --color-green-500: #03b26c;
  --color-green-600: #02a262;
  --color-green-700: #029359;
  --color-green-800: #028450;
  --color-green-900: #027648;

  /* Teal */
  --color-teal-50: #edf8f8;
  --color-teal-100: #bce9e9;
  --color-teal-200: #89d8d8;
  --color-teal-300: #58c7c7;
  --color-teal-400: #30b6b6;
  --color-teal-500: #18a5a5;
  --color-teal-600: #109595;
  --color-teal-700: #0c8585;
  --color-teal-800: #097575;
  --color-teal-900: #076565;

  /* Purple */
  --color-purple-50: #f9f0fc;
  --color-purple-100: #edccf8;
  --color-purple-200: #da9bef;
  --color-purple-300: #c770e4;
  --color-purple-400: #b44bd7;
  --color-purple-500: #a234c7;
  --color-purple-600: #9128b4;
  --color-purple-700: #8222a2;
  --color-purple-800: #73228e;
  --color-purple-900: #65237b;

  /* Grey Opacity (문서 표기는 “색 + alpha”) */
  --color-grey-opacity-50: rgba(0, 23, 51, 0.02);
  --color-grey-opacity-100: rgba(2, 32, 71, 0.05);
  --color-grey-opacity-200: rgba(0, 27, 55, 0.1);
  --color-grey-opacity-300: rgba(0, 29, 58, 0.18);
  --color-grey-opacity-400: rgba(0, 25, 54, 0.31);
  --color-grey-opacity-500: rgba(3, 24, 50, 0.46);
  --color-grey-opacity-600: rgba(0, 19, 43, 0.58);
  --color-grey-opacity-700: rgba(3, 18, 40, 0.7);
  --color-grey-opacity-800: rgba(0, 12, 30, 0.8);
  --color-grey-opacity-900: rgba(2, 9, 19, 0.91);

  /* White */
  --color-white: #ffffff;

  /* Black */
  --color-black: #000000;
}
