:root {
  /* Font Scale */
  --t-f11-text-fontSize: 11px;
  --t-f11-text-lineHeight: 16.5px;
  --t-f11-icon-height: 12px;
  --t-f11-badge-fontSize: 9px;
  --t-f11-badge-padding: 3px 6px;
  --t-f11-badge-borderRadius: 8px;
  --t-f11-link-verticalPadding: 0px;
  --t-f11-link-horizontalPadding: 4px;
  --t-f11-link-borderRadius: 4px;
  --t-f11-link-lightThickness: 0.7px;
  --t-f11-link-boldThickness: 1px;
  --t-f12-text-fontSize: 12px;
  --t-f12-text-lineHeight: 18px;
  --t-f12-icon-height: 13px;
  --t-f12-badge-fontSize: 9px;
  --t-f12-badge-padding: 3px 6px;
  --t-f12-badge-borderRadius: 8px;
  --t-f12-link-verticalPadding: 0px;
  --t-f12-link-horizontalPadding: 4px;
  --t-f12-link-borderRadius: 4px;
  --t-f12-link-lightThickness: 0.7px;
  --t-f12-link-boldThickness: 1px;
  --t-f13-text-fontSize: 13px;
  --t-f13-text-lineHeight: 19.5px;
  --t-f13-icon-height: 14px;
  --t-f13-badge-fontSize: 9px;
  --t-f13-badge-padding: 3px 6px;
  --t-f13-badge-borderRadius: 8px;
  --t-f13-link-verticalPadding: 0px;
  --t-f13-link-horizontalPadding: 4px;
  --t-f13-link-borderRadius: 4px;
  --t-f13-link-lightThickness: 0.7px;
  --t-f13-link-boldThickness: 1px;
  --t-f14-text-fontSize: 14px;
  --t-f14-text-lineHeight: 21px;
  --t-f14-icon-height: 15px;
  --t-f14-badge-fontSize: 10px;
  --t-f14-badge-padding: 3px 7px;
  --t-f14-badge-borderRadius: 9px;
  --t-f14-link-verticalPadding: 0px;
  --t-f14-link-horizontalPadding: 4px;
  --t-f14-link-borderRadius: 4px;
  --t-f14-link-lightThickness: 0.7px;
  --t-f14-link-boldThickness: 1px;
  --t-f15-text-fontSize: 15px;
  --t-f15-text-lineHeight: 22.5px;
  --t-f15-icon-height: 17px;
  --t-f15-badge-fontSize: 10px;
  --t-f15-badge-padding: 3px 7px;
  --t-f15-badge-borderRadius: 9px;
  --t-f15-link-verticalPadding: 0px;
  --t-f15-link-horizontalPadding: 4px;
  --t-f15-link-borderRadius: 4px;
  --t-f15-link-lightThickness: 0.7px;
  --t-f15-link-boldThickness: 1px;
  --t-f16-text-fontSize: 16px;
  --t-f16-text-lineHeight: 24px;
  --t-f16-icon-height: 18px;
  --t-f16-badge-fontSize: 10px;
  --t-f16-badge-padding: 3px 7px;
  --t-f16-badge-borderRadius: 9px;
  --t-f16-link-verticalPadding: 0px;
  --t-f16-link-horizontalPadding: 4px;
  --t-f16-link-borderRadius: 4px;
  --t-f16-link-lightThickness: 1px;
  --t-f16-link-boldThickness: 1.3px;
  --t-f17-text-fontSize: 17px;
  --t-f17-text-lineHeight: 25.5px;
  --t-f17-icon-height: 19px;
  --t-f17-badge-fontSize: 10px;
  --t-f17-badge-padding: 3px 7px;
  --t-f17-badge-borderRadius: 9px;
  --t-f17-link-verticalPadding: 0px;
  --t-f17-link-horizontalPadding: 4px;
  --t-f17-link-borderRadius: 4px;
  --t-f17-link-lightThickness: 1px;
  --t-f17-link-boldThickness: 1.3px;
  --t-f18-text-fontSize: 18px;
  --t-f18-text-lineHeight: 27px;
  --t-f18-icon-height: 20px;
  --t-f18-badge-fontSize: 11px;
  --t-f18-badge-padding: 3px 7px;
  --t-f18-badge-borderRadius: 10px;
  --t-f18-link-verticalPadding: 0px;
  --t-f18-link-horizontalPadding: 4px;
  --t-f18-link-borderRadius: 4px;
  --t-f18-link-lightThickness: 1px;
  --t-f18-link-boldThickness: 1.3px;
  --t-f19-text-fontSize: 19px;
  --t-f19-text-lineHeight: 28px;
  --t-f19-icon-height: 21px;
  --t-f19-badge-fontSize: 11px;
  --t-f19-badge-padding: 3px 7px;
  --t-f19-badge-borderRadius: 10px;
  --t-f19-link-verticalPadding: 0px;
  --t-f19-link-horizontalPadding: 5px;
  --t-f19-link-borderRadius: 5px;
  --t-f19-link-lightThickness: 1.3px;
  --t-f19-link-boldThickness: 1.5px;
  --t-f20-text-fontSize: 20px;
  --t-f20-text-lineHeight: 29px;
  --t-f20-icon-height: 22px;
  --t-f20-badge-fontSize: 11px;
  --t-f20-badge-padding: 3px 7px;
  --t-f20-badge-borderRadius: 10px;
  --t-f20-link-verticalPadding: 0px;
  --t-f20-link-horizontalPadding: 5px;
  --t-f20-link-borderRadius: 5px;
  --t-f20-link-lightThickness: 1.3px;
  --t-f20-link-boldThickness: 1.5px;
  --t-f21-text-fontSize: 21px;
  --t-f21-text-lineHeight: 30px;
  --t-f21-icon-height: 24px;
  --t-f21-badge-fontSize: 11px;
  --t-f21-badge-padding: 3px 7px;
  --t-f21-badge-borderRadius: 10px;
  --t-f21-link-verticalPadding: 0px;
  --t-f21-link-horizontalPadding: 5px;
  --t-f21-link-borderRadius: 5px;
  --t-f21-link-lightThickness: 1.3px;
  --t-f21-link-boldThickness: 1.5px;
  --t-f22-text-fontSize: 22px;
  --t-f22-text-lineHeight: 31px;
  --t-f22-icon-height: 25px;
  --t-f22-badge-fontSize: 12px;
  --t-f22-badge-padding: 3px 7px;
  --t-f22-badge-borderRadius: 11px;
  --t-f22-link-verticalPadding: 0px;
  --t-f22-link-horizontalPadding: 5px;
  --t-f22-link-borderRadius: 5px;
  --t-f22-link-lightThickness: 1.3px;
  --t-f22-link-boldThickness: 1.5px;
  --t-f23-text-fontSize: 23px;
  --t-f23-text-lineHeight: 32px;
  --t-f23-icon-height: 26px;
  --t-f23-badge-fontSize: 12px;
  --t-f23-badge-padding: 3px 7px;
  --t-f23-badge-borderRadius: 11px;
  --t-f23-link-verticalPadding: 1px;
  --t-f23-link-horizontalPadding: 6px;
  --t-f23-link-borderRadius: 6px;
  --t-f23-link-lightThickness: 1.5px;
  --t-f23-link-boldThickness: 1.8px;
  --t-f24-text-fontSize: 24px;
  --t-f24-text-lineHeight: 33px;
  --t-f24-icon-height: 27px;
  --t-f24-badge-fontSize: 12px;
  --t-f24-badge-padding: 3px 7px;
  --t-f24-badge-borderRadius: 11px;
  --t-f24-link-verticalPadding: 1px;
  --t-f24-link-horizontalPadding: 6px;
  --t-f24-link-borderRadius: 6px;
  --t-f24-link-lightThickness: 1.5px;
  --t-f24-link-boldThickness: 1.8px;
  --t-f25-text-fontSize: 25px;
  --t-f25-text-lineHeight: 34px;
  --t-f25-icon-height: 28px;
  --t-f25-badge-fontSize: 12px;
  --t-f25-badge-padding: 3px 7px;
  --t-f25-badge-borderRadius: 11px;
  --t-f25-link-verticalPadding: 1px;
  --t-f25-link-horizontalPadding: 6px;
  --t-f25-link-borderRadius: 6px;
  --t-f25-link-lightThickness: 1.5px;
  --t-f25-link-boldThickness: 1.8px;
  --t-f26-text-fontSize: 26px;
  --t-f26-text-lineHeight: 35px;
  --t-f26-icon-height: 29px;
  --t-f26-badge-fontSize: 13px;
  --t-f26-badge-padding: 3px 7px;
  --t-f26-badge-borderRadius: 12px;
  --t-f26-link-verticalPadding: 1px;
  --t-f26-link-horizontalPadding: 6px;
  --t-f26-link-borderRadius: 6px;
  --t-f26-link-lightThickness: 1.8px;
  --t-f26-link-boldThickness: 2px;
  --t-f27-text-fontSize: 27px;
  --t-f27-text-lineHeight: 36px;
  --t-f27-icon-height: 31px;
  --t-f27-badge-fontSize: 13px;
  --t-f27-badge-padding: 3px 7px;
  --t-f27-badge-borderRadius: 12px;
  --t-f27-link-verticalPadding: 1px;
  --t-f27-link-horizontalPadding: 6px;
  --t-f27-link-borderRadius: 6px;
  --t-f27-link-lightThickness: 1.8px;
  --t-f27-link-boldThickness: 2px;
  --t-f28-text-fontSize: 28px;
  --t-f28-text-lineHeight: 37px;
  --t-f28-icon-height: 32px;
  --t-f28-badge-fontSize: 13px;
  --t-f28-badge-padding: 3px 7px;
  --t-f28-badge-borderRadius: 12px;
  --t-f28-link-verticalPadding: 1px;
  --t-f28-link-horizontalPadding: 6px;
  --t-f28-link-borderRadius: 6px;
  --t-f28-link-lightThickness: 1.8px;
  --t-f28-link-boldThickness: 2px;
  --t-f29-text-fontSize: 29px;
  --t-f29-text-lineHeight: 38px;
  --t-f29-icon-height: 33px;
  --t-f29-badge-fontSize: 13px;
  --t-f29-badge-padding: 3px 7px;
  --t-f29-badge-borderRadius: 12px;
  --t-f29-link-verticalPadding: 2px;
  --t-f29-link-horizontalPadding: 8px;
  --t-f29-link-borderRadius: 8px;
  --t-f29-link-lightThickness: 1.8px;
  --t-f29-link-boldThickness: 2px;
  --t-f30-text-fontSize: 30px;
  --t-f30-text-lineHeight: 40px;
  --t-f30-icon-height: 34px;
  --t-f30-badge-fontSize: 14px;
  --t-f30-badge-padding: 4px 8px;
  --t-f30-badge-borderRadius: 13px;
  --t-f30-link-verticalPadding: 2px;
  --t-f30-link-horizontalPadding: 8px;
  --t-f30-link-borderRadius: 8px;
  --t-f30-link-lightThickness: 1.8px;
  --t-f30-link-boldThickness: 2px;
  --t-f31-text-fontSize: 31px;
  --t-f31-text-lineHeight: 41px;
  --t-f31-icon-height: 35px;
  --t-f31-badge-fontSize: 14px;
  --t-f31-badge-padding: 4px 8px;
  --t-f31-badge-borderRadius: 13px;
  --t-f31-link-verticalPadding: 2px;
  --t-f31-link-horizontalPadding: 8px;
  --t-f31-link-borderRadius: 8px;
  --t-f31-link-lightThickness: 1.8px;
  --t-f31-link-boldThickness: 2px;
  --t-f32-text-fontSize: 32px;
  --t-f32-text-lineHeight: 42px;
  --t-f32-icon-height: 36px;
  --t-f32-badge-fontSize: 14px;
  --t-f32-badge-padding: 4px 8px;
  --t-f32-badge-borderRadius: 13px;
  --t-f32-link-verticalPadding: 2px;
  --t-f32-link-horizontalPadding: 8px;
  --t-f32-link-borderRadius: 8px;
  --t-f32-link-lightThickness: 1.8px;
  --t-f32-link-boldThickness: 2px;
  --t-f33-text-fontSize: 33px;
  --t-f33-text-lineHeight: 43px;
  --t-f33-icon-height: 38px;
  --t-f33-badge-fontSize: 14px;
  --t-f33-badge-padding: 4px 8px;
  --t-f33-badge-borderRadius: 13px;
  --t-f33-link-verticalPadding: 2px;
  --t-f33-link-horizontalPadding: 8px;
  --t-f33-link-borderRadius: 8px;
  --t-f33-link-lightThickness: 1.8px;
  --t-f33-link-boldThickness: 2px;
  --t-f34-text-fontSize: 34px;
  --t-f34-text-lineHeight: 44px;
  --t-f34-icon-height: 39px;
  --t-f34-badge-fontSize: 14px;
  --t-f34-badge-padding: 4px 8px;
  --t-f34-badge-borderRadius: 13px;
  --t-f34-link-verticalPadding: 2px;
  --t-f34-link-horizontalPadding: 8px;
  --t-f34-link-borderRadius: 8px;
  --t-f34-link-lightThickness: 1.8px;
  --t-f34-link-boldThickness: 2px;
  --t-f35-text-fontSize: 35px;
  --t-f35-text-lineHeight: 45px;
  --t-f35-icon-height: 40px;
  --t-f35-badge-fontSize: 15px;
  --t-f35-badge-padding: 4px 9px;
  --t-f35-badge-borderRadius: 13px;
  --t-f35-link-verticalPadding: 2px;
  --t-f35-link-horizontalPadding: 8px;
  --t-f35-link-borderRadius: 8px;
  --t-f35-link-lightThickness: 2px;
  --t-f35-link-boldThickness: 2.3px;
  --t-f36-text-fontSize: 36px;
  --t-f36-text-lineHeight: 46px;
  --t-f36-icon-height: 41px;
  --t-f36-badge-fontSize: 15px;
  --t-f36-badge-padding: 4px 9px;
  --t-f36-badge-borderRadius: 13px;
  --t-f36-link-verticalPadding: 2px;
  --t-f36-link-horizontalPadding: 8px;
  --t-f36-link-borderRadius: 8px;
  --t-f36-link-lightThickness: 2px;
  --t-f36-link-boldThickness: 2.3px;
  --t-f37-text-fontSize: 37px;
  --t-f37-text-lineHeight: 47px;
  --t-f37-icon-height: 42px;
  --t-f37-badge-fontSize: 15px;
  --t-f37-badge-padding: 4px 9px;
  --t-f37-badge-borderRadius: 13px;
  --t-f37-link-verticalPadding: 2px;
  --t-f37-link-horizontalPadding: 8px;
  --t-f37-link-borderRadius: 8px;
  --t-f37-link-lightThickness: 2px;
  --t-f37-link-boldThickness: 2.3px;
  --t-f38-text-fontSize: 38px;
  --t-f38-text-lineHeight: 48px;
  --t-f38-icon-height: 43px;
  --t-f38-badge-fontSize: 15px;
  --t-f38-badge-padding: 4px 9px;
  --t-f38-badge-borderRadius: 13px;
  --t-f38-link-verticalPadding: 2px;
  --t-f38-link-horizontalPadding: 8px;
  --t-f38-link-borderRadius: 8px;
  --t-f38-link-lightThickness: 2px;
  --t-f38-link-boldThickness: 2.3px;
  --t-f39-text-fontSize: 39px;
  --t-f39-text-lineHeight: 49px;
  --t-f39-icon-height: 44px;
  --t-f39-badge-fontSize: 16px;
  --t-f39-badge-padding: 5px 10px;
  --t-f39-badge-borderRadius: 14px;
  --t-f39-link-verticalPadding: 2px;
  --t-f39-link-horizontalPadding: 8px;
  --t-f39-link-borderRadius: 8px;
  --t-f39-link-lightThickness: 2px;
  --t-f39-link-boldThickness: 2.3px;
  --t-f40-text-fontSize: 40px;
  --t-f40-text-lineHeight: 50px;
  --t-f40-icon-height: 46px;
  --t-f40-badge-fontSize: 16px;
  --t-f40-badge-padding: 5px 10px;
  --t-f40-badge-borderRadius: 14px;
  --t-f40-link-verticalPadding: 2px;
  --t-f40-link-horizontalPadding: 8px;
  --t-f40-link-borderRadius: 8px;
  --t-f40-link-lightThickness: 2px;
  --t-f40-link-boldThickness: 2.3px;
  --t-f41-text-fontSize: 41px;
  --t-f41-text-lineHeight: 51px;
  --t-f41-icon-height: 47px;
  --t-f41-badge-fontSize: 16px;
  --t-f41-badge-padding: 5px 10px;
  --t-f41-badge-borderRadius: 14px;
  --t-f41-link-verticalPadding: 2px;
  --t-f41-link-horizontalPadding: 10px;
  --t-f41-link-borderRadius: 10px;
  --t-f41-link-lightThickness: 2.3px;
  --t-f41-link-boldThickness: 2.5px;
  --t-f42-text-fontSize: 42px;
  --t-f42-text-lineHeight: 52px;
  --t-f42-icon-height: 48px;
  --t-f42-badge-fontSize: 16px;
  --t-f42-badge-padding: 5px 10px;
  --t-f42-badge-borderRadius: 14px;
  --t-f42-link-verticalPadding: 2px;
  --t-f42-link-horizontalPadding: 10px;
  --t-f42-link-borderRadius: 10px;
  --t-f42-link-lightThickness: 2.3px;
  --t-f42-link-boldThickness: 2.5px;

  /* Font Weights */
  --t-f-weight-thin: 100;
  --t-f-weight-extralight: 200;
  --t-f-weight-light: 300;
  --t-f-weight-regular: 400;
  --t-f-weight-medium: 500;
  --t-f-weight-semibold: 600;
  --t-f-weight-bold: 700;
  --t-f-weight-extrabold: 800;
  --t-f-weight-black: 900;
}
