@forward './reset';
@forward './font';

body {
  color: var(--semantic-text-primary);
  background-color: var(--background-default);
  font-family: var(--font-family);
  font-weight: var(--t-f-weight-regular);
}